- !<AssetImportMetadata/7ce95e5b-f7e6-42de-84db-ee208b8d4fc0>
  ImportedAssetIds:
    BinAsset: !<reference> 9e3f75de-058e-4c7d-8b43-91eb62f324a9
  ImporterName: BinAssetImporter
  PrimaryAsset: !<reference> 9e3f75de-058e-4c7d-8b43-91eb62f324a9
  PackageType: NotAPackage
  LegacyPackagePolicy: ~
  ExtraData:
    {}
  AssetDataMap:
    {}
  DependentFiles:
    []
  ImporterSettings: !<AssetImporterSettings>
    {}
  CompressionSettings: !<own> 00000000-0000-0000-0000-000000000000
